/*Sign In*/
.sign-link {
    color: #fff;
}

.sign-link:visited {
    color: #fff;
}

/*Menu*/
.fa-home {
    color: #00cc07;
}

.menu-question {
    color: #0088cc;
}

.fa-sign-out-alt {
    color: #ffb300;
}